body {
    background-color: #40E0D0;
}
#Story {
    font-family: Courier New;
    text-align: inherit;
}
#listone {
    text-align: inherit;
    display: inline-block;
    color: brown;
    list-style-position: inside;
}
#listtwo {
    text-align: inherit;
    display: inline-block;
    color: yellow;
    list-style-position: inside;
}
*.cName {
     margin-left: auto;
    margin-right: auto;
}
table, th, td, tr {
    border: 1px solid red;
    width: 350px;
    margin-left:auto;
    margin-right:auto;
}
